{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="colorlib-navbar-brand">
                        <a class="colorlib-logo" href="{{path('home')}}"><span class="logo-img" style="background-image: url{{ asset('images/profile.JPG') }};"></span>Caroline Moulin</a>
                    </div>
                    <a href="{{path('home')}}" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
                </div>
            </div>
        </div>
    </header>

{% endblock %}